#container-1 {
    width: 1030px;
    min-height: 400px;
    background-color: lightgray;
}
.header-1 {
    display: inline-block;
    height: 80px;
    width: 480px;
    border-color: pink;
    margin: 10px;
}
.header-2 {
    display: inline-block;
    height: 70px;
    width: 520px;
    border-color: pink;
}
h1 {
    font-size: 40px;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 15px;
}
h2 {
    font-size: 25   px;
    vertical-align: middle;
    text-align: right;
    margin-right: 50px;
}
#container-2 {
    width: 1010px;
    min-height: 1000px;
    background-color: brown;
    padding: 10px;
    display: inline-block;
}
#content-2a {
    width: 400px;
    height: 263px;
    background-color: lightgrey;
    border: solid;
    border-color: grey;
    margin: 10px;
    display: inline-block;
    float: left;
}
.picture-1 {
    display: inline-block;
    width: 100%;
}
#content-2b {
    width: 540px;
    height: 263px;
    border: solid;
    border-color: lightgray;
    background-color: lightgrey;
    margin: 10px;
    display: inline-block;
    float: left;
    vertical-align: middle;
}
#content-2b-1 {
    background-color: gray;
    width: 540px;
    height: 50px;
    display: block;
    float: right;
}
h3 {
    font-size: 16px;
    margin-left: 2%;
    color: white;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}
#content-2b-2 {
    margin-left: 10px;
    margin-top: 60px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
#content-2c {
    width: 315px;
    height: 680px;
    background-color: lightgrey;
    margin-left: 10px;
    display: inline-block;
}
#content-2c-1 {
    background-color: gray;
    width: 315px;
    height: 50px;
    display: block;
    float: right;
}
#content-2c-2 {

}
.picture-2 {
    display: inline-block;
    width: 100%;
}
#content-2c-3 {
    margin-left: 10px;
    height: 180px;
}
#content-2c-4 {
    margin-left: 5px;
    background-color: gray;
    width: 315px;
    height: 50px;
    display: block;
    float: right;
}
#content-2c-5 {
    margin-left: 10px;
    padding-top: 60px;
}
.tech-pix {
    width: 18%;
}
#content-2c-6 {
    width: 80px;
    height: 50px;
    vertical-align: middle;
    border: solid black 2px;
    border-radius: 20%;
    text-align: center;
    margin: auto;
    background-color: green;
    color: white;
}
#content-2d {
    width: 315px;
    height: 680px;
    background-color: lightgrey;
    margin-left: 10px;
    display: inline-block;
}
#content-2d-1 {
    background-color: gray;
    width: 315px;
    height: 50px;
    display: block;
    float: right;
}
.picture-2 {
    display: inline-block;
    width: 100%;
}
#content-2d-3 {
    margin-left: 10px;
    height: 180px;
}
#content-2d-4 {
    margin-left: 5px;
    background-color: gray;
    width: 315px;
    height: 50px;
    display: block;
    float: right;
}
#content-2d-5 {
    margin-left: 10px;
    padding-top: 60px;
}
.tech-pix {
    width: 18%;
}
#content-2d-6 {
    width: 150px;
    height: 50px;
    vertical-align: middle;
    border: solid black 2px;
    border-radius: 10%;
    text-align: center;
    margin: auto;
    background-color: green;
    color: white;
}
#content-2e {
    width: 315px;
    height: 680px;
    background-color: lightgrey;
    margin-left: 10px;
    display: inline-block;
}
#content-2e-1 {
    background-color: gray;
    width: 315px;
    height: 50px;
    display: block;
    float: right;
}
#content-2e-3 {
    margin-left: 10px;
    height: 180px;
}
#content-2e-4 {
    margin-left: 5px;
    background-color: gray;
    width: 315px;
    height: 50px;
    display: block;
    float: right;
}
#content-2e-5 {
    margin-left: 10px;
    padding-top: 60px;
}
.tech-pix {
    width: 18%;
}
#content-2e-6 {
    width: 100px;
    height: 50px;
    vertical-align: middle;
    border: solid black 2px;
    border-radius: 10%;
    text-align: center;
    margin: auto;
    background-color: green;
    color: white;
}
#footer {
    height: 70px;
    width:1060px;
    background-color: pink:
}
.footer-1 {
    text-align: center;
}
.footer-2 {
    text-align: center;
}